<h4>internal server error - refreshing the page will make the error disappear !</h4>
<ng-container   *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold"> note: if you are seeing this, angular not to blame</p>
    <ol>
        <li>
            open the chrome dev tools 
        </li>
        <li>Inspect network tab</li>
        <li>Check the failing request</li>
        <li>examine the request url - make sure this is correct</li>
        <li>reproduce the same error in postman, if we see the same response then the issue is not with angular</li>
    </ol>
    <p>following ios the strack trace-  this is where your investigation should start</p>
    <code class="mt-5">{{error.details}}</code>
</ng-container>
